node_modules
.pnpm-store
.DS_Store
dist
dist-ssr
*.local
update.json
scripts/_env.sh
.vscode
.tool-versions
.idea
.old
.eslintcache
target

# Android
src-tauri/gen/android/.gradle/
src-tauri/gen/android/app/build/
src-tauri/gen/android/build/
src-tauri/gen/android/local.properties
src-tauri/gen/android/app/src/main/jniLibs/**/*.so
*.apk
*.aab